---
layout: default
---

<link rel="stylesheet" href="/assets/css/posts.css">
<link rel="stylesheet" href="/assets/css/categories.css">

<div class="category-posts-container">
    <div class="category-header">
        <h1>{{ page.category }}</h1>
        <a href="/categories" class="back-to-categories">← All Categories</a>
    </div>
    
    <ul class="posts-list">
        {% for post in site.categories[page.category] %}
        <li class="post-item">
            <div class="post-content">
                <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
                <p class="post-excerpt">
                    {% assign excerpt = post.content | strip_html | replace: '$', '' | replace: '\\[', '' | replace: '\\]', '' | replace: '\\(', '' | replace: '\\)', '' %}
                    {{ excerpt | truncate: 100 }}
                </p>
            </div>
            <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        </li>
        {% endfor %}
    </ul>
</div> 